@model IEnumerable<MvcNetCoreAzureStorage.Models.BlobModel>

@{
	ViewData["Title"] = "ListBlobs";
}

<h1>ListBlobs</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Url)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contenedor)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-controller="AzureBlobs" asp-action="DeleteBlob" asp-route-containername="@item.Contenedor" asp-route-blobname="@item.Nombre"
					   class="btn btn-danger">Delete blob: @item.Nombre</a>
				</td>
				<td>
					<a href="@item.Url" target="_blank">@item.Url</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Contenedor)
				</td>
				<td>
					<img src="@Url.Action("GetBlobImage", "AzureBlobs", new { containername = item.Contenedor, blobname = item.Nombre })"
						 alt="@item.Nombre" width="200" />
				</td>

			</tr>
		}
	</tbody>
</table>
